.item-digital {
    flex-grow: 1;
    width: 100%;
    max-width: 38.4rem;
    .icon {
        width: 4rem;
        height: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 1.6rem;
    }
    .info {
        h6 {
            margin-bottom: 0.8rem;
        }
        p {
            font-size: 1.8rem;
            color: var(--gray-600);
        }
    }
    @media (max-width:991px) {
        text-align: center;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    @media (max-width: 560px) {
        .info {
            p {
                max-width: 31.9rem;
                font-size: 1.8rem;
            }
        }
    }
}