<section class="app-s-hero">
    <app-grid-container [containerStyles]="{ 'flex-direction': 'column'}">
        <div class="app-texts">
            <h1>Front-end descomplicado e direto ao ponto!</h1>
            <p>Aprenda a desenvolver interfaces modernas e de alta qualidade com quem está na área atuando com projetos altamente renomados.</p>
            <app-btn btnType="primary" btnSize="lg">Fazer parte da lista de espera</app-btn>
        </div>
    </app-grid-container>
    <img src="assets/hero-img-desktop.svg" alt="Imagem do Structboost" width="1216" height="577">
</section>