<section class="app-s-digital">
    <app-grid-container [containerStyles]="{ 'align-items': 'center', 'flex-direction': 'column' }">
        <h3>Transformando Ideias em Realidade Digital!</h3>
        <ul>
            <li *ngFor="let item of digitalItems">
                <app-item-digital
                [iconSrc]="item.iconSrc"
                [altText]="item.alt"
                [description]="item.description"
                [title]="item.title"
                />
            </li>
        </ul>
    </app-grid-container>
</section>