.app-s-digital {
    padding-top: 12.8rem;
    h3 {
        text-align: center;
        max-width: 53.5rem;
        letter-spacing: -0.12rem;
        margin-bottom: 6.4rem;
    }
    ul {
        display: flex;
        gap: 3.2rem;
        border-bottom: 1px solid var(--gray-800);
        padding-bottom: 12.8rem;
    }
}