<section class="app-s-cta">
    <app-grid-container [containerStyles]="{ 'flex-direction': 'column'}">
        <div class="app-texts">
            <h2>Front-end descomplicado e direto ao ponto!</h2>
            <p>Aprenda a desenvolver interfaces modernas e de alta qualidade com quem está na área atuando com projetos altamente renomados.</p>
            <app-btn btnType="primary" btnSize="lg" [btnColor]="'white'">Fazer parte da lista de espera</app-btn>
        </div>
    </app-grid-container>
</section>